[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "wowchemy-hugo-modules"]
	path = wowchemy-hugo-modules
	url = https://github.com/wowchemy/wowchemy-hugo-modules.git
